/*
    Custom CSS
*/
body {
    font-size: 1.5em;
}

@media(min-width: 768px) {
    .sidebar {
        margin-top: 52px !important;
    }
}
datalist {
    overflow:scroll;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
   .waiting {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('img/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .waiting {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .waiting {
    display: block;
}

dl dd span.societe {
    font-variant:small-caps;
}

/* Affichage sur smartphone */
@media screen and (max-width:500px) {
    h1 {
        font-size:1em;
        font-weight:bold;
    }
}

@media screen and (max-width:500px) {
    .nav.navbar-top-links li.dropdown:nth-child(2) {
        position: absolute;
        left: 200px;
        right: 10px;
    }

    .nav.navbar-top-links li.dropdown:nth-child(3) {
        position: absolute;
        left:350px;
        right: 0;
    }
}

.top-bar {
    position:absolute;
    top:-100px;
    right:10px;
}

.top-bar input, .top-bar button {
    margin:40px 0 10px 10px;
}

.tob-bar a {
    text-decoration: none;
}

.bottom-bar {
    
}

.bottom-bar input, .bottom-bar button {
    margin:40px 0 10px 10px;
}

.required {
    color:red; 
    font-size:1.5em;
} 

#frmLogin, #frmResetPassword, #frmEmailPassword, #frmRegister {
    margin-top:30px;
}

#frmRegister .form-group p {
    margin:0;
    padding-top: 7px;
}

ul.dropdown-user {
    padding-top: 0px;
}


ul.dropdown-user .user-login {
    text-align: center;
    background-color : lightgray;
    padding : 3px 0;
    margin-bottom : 2px;
    font-weight : bold;
}

div.form-group {
    position: relative;
}
span.reset-datalist {
    position: absolute;
    top: 33px;
    right : 0px;
    width:18px;
    font-size: 1em;
    color: red;
    font-weight:bold;
    margin-right:30px;
    display:none;
}

span.reset-datalist i {
    padding: 2px 1px 1px 1px;
}

span.reset-datalist i:hover {
    background-color:lightgrey;
}

nav form#frmSearchAll {
    float: right;
    margin: 9px 10px 0 0;
}

tr.child span.dtr-title {
    display: table-cell !important;
    min-width: 0 !important;
    padding: 0 10px 0 0;
    vertical-align: top;
    
}

tr.child span.dtr-data {
    display: table-cell !important;
    min-width: 0 !important;
}

tr.child span.dtr-data button{
    height: 20px;
    font-size: 0.8em;
}

div#search-group {
    position:relative;
}

select#list-keywords {
    position : absolute;
    left: 0;
    top: 34px;
    border: 1px solid silver;
    border-radius: 2px;
    width: 100%;
    outline:none;
}

div.dropdown ul.dropdown-menu {
    left: 0;
    overflow-y: scroll;

}

div.dropdown button#dropdown-btn {
    position: absolute;
    top: -30px;
    height: 0;
}

div.dropdown ul.dropdown-menu li[role=separator] {
    padding-left: 5px;              
}

dd.dashed:before {
    content: '\25e2' !important;
    display: inline;
    color: silver;
}

.panel-body dd {
    overflow-wrap: break-word;
}